<div>
  skills works!

  <div class="row1">
    <app-skill-hexagon label="App"></app-skill-hexagon>
    <app-skill-hexagon label="App"></app-skill-hexagon>
    <app-skill-hexagon label="App"></app-skill-hexagon>
  </div>

  <div class="clear"></div>

  <div class="row2">
    <app-skill-hexagon label="App"></app-skill-hexagon>
    <app-skill-hexagon label="Hello"></app-skill-hexagon>
    <app-skill-hexagon label="World"></app-skill-hexagon>
    <app-skill-hexagon label="App"></app-skill-hexagon>
  </div>

  <div class="clear"></div>

  <div class="row1">
    <app-skill-hexagon label="App"></app-skill-hexagon>
    <app-skill-hexagon label="App"></app-skill-hexagon>
    <app-skill-hexagon label="App"></app-skill-hexagon>
  </div>

</div>
